.main-container {
  width: 100vw;
  height: 100vh;
  background: url("https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: inherit;
  opacity: 0.8;
  position: relative;
  z-index: 1000;
}
/* .overlay{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  widows: 100vw;
  height: 100vh;
  position: absolute;
  background-color:  rgb(0,0,0,0.8);
  z-index: 1000;
} */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  /* border: 2px solid red; */
}

.logo {
  width: 20%;
  /* border: 2px solid red; */
}
.logo img {
  width: 100%;
  height: 100%;
}

.menu {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu div {
  cursor: pointer;
}
.signin-btn,
button {
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

main {
  color: white;
  margin: 6rem;
}

h1,
h3,
h6 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

.input-container {
}
.input-container input {
  margin-right: 1rem;
}
input,
button {
  padding: 1rem;
  border-radius: 5px;
}

input {
  background-color: black;
  color: white;
}
.input-container > button {
  font-weight: bold;
}
